<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is a blog website</p>
    <p>Made by me from watching tutorials by net ninja</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>